/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    font-family: "Playwrite ES Deco", cursive;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    line-height: 1.6;
}

  h1 {
    font-size: 22px;
    font-weight: 700;
    color: #686ad7; ;
}
  h2 {
    font-size: 20px;
    font-weight: 700;
}
  h3 {
    font-size: 18px;
    font-weight: 700;
}
;



/* Box-Sizing */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: #130121;
}
a:hover, a:focus {
    text-decoration: none;
}
a:visited {
   /* visited link */
    color: #222223;
}
a:active {
   /* selected link color: #454446;
   */
    color:#84ef56;
}
input, texture, select, button {
    font-family: system-ui;
}
.my_logo {
    width: 200px;
    height: 100px;
   /* border: 2px solid rgba(179, 25, 25, 0.3);
    */
    padding: 2px;
}
/* flex_container */
.flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   /* background-color: #84ef56;
    */
}


.felx_item {
   /* background-color: aquamarine;
    */
    height: 100px;
    margin: 10px;
    text-align: right;
    color: aliceblue;
    line-height: 75px;
}
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
}
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}
.navigation-list {
    list-style-type: none;
}
.navigation-list li {
    display: inline-block;
    margin-left: 15px;

} 
 

.portrait-img {
    width: 200px;
    margin-right: 40px;
    border-radius: 50%;
   /* */
   /* border: 20px solid rgba(79, 25, 179, 0.3);
    */
}
.profile__portrait {
    float: left;
    width: 250px;
}
.page-main-portrait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
   /* border: 2px solid rgba(79, 25, 179, 0.3);
    */
}
.page-main-portrait-item {
    text-align: right;
   /* border: 2px solid rgba(250, 31, 173, 0.3);
    */
    -ms-flex-preferred-size: 50px;
        flex-basis: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}
.page-main-portrait-item:nth-child(2) {
    text-align: left;
    padding: 20px;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
   /* border: 2px solid rgba(244, 228, 12, 0.3);
    */
}
.page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 20px;
   /* border: 2px solid rgba(79, 25, 179, 0.3);
    */
    text-align: center;
}
.page-footer-items {
   /* border: 2px solid rgba(30, 223, 37, 0.3);
    */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
/* start - Work Page - column grid */
.grid {
    display: -ms-grid;
    display: grid;
   /* border: 2px solid rgba(21, 232, 123, 0.3);
    */
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
}
.grid__item {
   /* background-color: lightgray;
    */
    width: auto;
    min-height: auto;
    padding: 10px;
    margin: 0;
}
@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
   }
}
@media all and (min-width: 500px) and (max-width: 750px) {
    .grid {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
   }
}
@media all and (max-width: 750px) {
    .grid {
        grid-gap: 10px;
   }
    .grid__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
   }
}
/* end - Work Page - column grid */
/* start - button transition */



button {
   /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
   /* takes the font from the outer container */
    font-family: inherit;
   /* styles the button */
    background-color: #3a49ec;
    color: undefined;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
   /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.9s;
         -o-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
button:focus {
   /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    opacity: 0.8;
    font-size: 16px;
}
/* end - button transition */
/* start Sun and cloud movement animation */
.sun {  
    -webkit-animation: 9s color-change infinite alternate linear;  
            animation: 9s color-change infinite alternate linear;
}
 

@-webkit-keyframes color-change {
    0% {
        fill: #f5bc10;
   }
    50% {
        fill: #fcffad;
   }
    100% {
        fill: #d3530e;
   }
}
 

@keyframes color-change {
    0% {
        fill: #f5bc10;
   }
    50% {
        fill: #fcffad;
   }
    100% {
        fill: #d3530e;
   }
}
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
   }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
   }
}
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
   }
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
   }
}
.cloud-front {
    -webkit-animation-duration: 30s;
            animation-duration: 30s;
    -webkit-animation-name: cloud-move;
            animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
   }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
   }
}
@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
   }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
   }
}
.cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}
/* end cloud movement animation */
/* start - Tooltip text */



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #60b2df;
   /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 220px;
    color: #0c0526;
    text-align: center;
    padding: 15px 0;
    border-radius: 6px;
   /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
/* end - Tooltip text */
/* start - button clickme effect */

 



 

.button_Register {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#fff;
    background-color: #464cba;
    border: none;
    border-radius: 15px;
    -webkit-box-shadow: 0 9px #666;
            box-shadow: 0 9px #666;
}
.button_Register:hover {
    background-color:#1b3887;
}
.button_Register:active {
    background-color:#3e8e41;
    -webkit-box-shadow: 0 5px #666;
            box-shadow: 0 5px #666;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
}






/* end - button clickme effect */
/* start - sentMail_Animation */
.sentMail {
    width: 100px;
    padding: 2px;
    margin-bottom: 20px;
    background-color: #21788b;
    position: relative;
    -webkit-animation-name: sentMail_Animation;
            animation-name: sentMail_Animation;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
}
@-webkit-keyframes sentMail_Animation {
    0% {
        background-color: #1a6295;
        left: 0px;
        top: 0px;
   }
    100% {
        background-color: lighter(#1a6295, 40%);
        left: 350px;
        top: 0px;
   }
}
@keyframes sentMail_Animation {
    0% {
        background-color: #1a6295;
        left: 0px;
        top: 0px;
   }
    100% {
        background-color: lighter(#1a6295, 40%);
        left: 350px;
        top: 0px;
   }
}
/* end - sentMail_Animation */